<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Registro</servlet-name>
        <servlet-class>com.multiaportes.comunipn.sistema.ajax.Registro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.multiaportes.comunipn.sistema.ajax.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Categoria</servlet-name>
        <servlet-class>com.multiaportes.comunipn.ui.Categoria</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.multiaportes.comunipn.sistema.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Perfil</servlet-name>
        <servlet-class>com.multiaportes.comunipn.ui.Perfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Editor</servlet-name>
        <servlet-class>com.multiaportes.comunipn.ui.Editor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Pregunta</servlet-name>
        <servlet-class>com.multiaportes.comunipn.ui.Pregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Escuela</servlet-name>
        <servlet-class>com.multiaportes.comunipn.ui.Escuela</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaPregunta</servlet-name>
        <servlet-class>com.multiaportes.comunipn.sistema.ajax.NuevaPregunta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Hashtag</servlet-name>
        <servlet-class>com.multiaportes.comunipn.ui.Hashtag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaRespuesta</servlet-name>
        <servlet-class>com.multiaportes.comunipn.sistema.ajax.NuevaRespuesta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VotarComentario</servlet-name>
        <servlet-class>com.multiaportes.comunipn.sistema.ajax.VotarComentario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SalvarCambios</servlet-name>
        <servlet-class>com.multiaportes.comunipn.sistema.ajax.SalvarCambios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DesactivarPerfil</servlet-name>
        <servlet-class>com.multiaportes.comunipn.sistema.ajax.DesactivarPerfil</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Registro</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Categoria</servlet-name>
        <url-pattern>/categoria</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/salir</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Perfil</servlet-name>
        <url-pattern>/perfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Editor</servlet-name>
        <url-pattern>/editar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Pregunta</servlet-name>
        <url-pattern>/pregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Escuela</servlet-name>
        <url-pattern>/escuela</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaPregunta</servlet-name>
        <url-pattern>/nuevapregunta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Hashtag</servlet-name>
        <url-pattern>/tag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaRespuesta</servlet-name>
        <url-pattern>/nuevarespuesta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VotarComentario</servlet-name>
        <url-pattern>/votarcomentario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SalvarCambios</servlet-name>
        <url-pattern>/guardar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DesactivarPerfil</servlet-name>
        <url-pattern>/desactivar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
